/* Universal styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Body styles */
body {
    margin: 0 auto;
    background: #fff;
    max-width: 100vw;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Heading Styles */
#container h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Container */
#container {
    flex: 1;
    max-width: 800px;
    width: 90%;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px auto;
}

/* Profile */
#profile {
    text-align: center;
    margin-bottom: 20px;
}

#profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

/* Date Time */
#date-time {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

#date-time p {
    margin: 0;
}

/* Links Styling */
#links {
    text-align: center;
}

#links p {
    margin: 10px 0;
}

#links a {
    text-decoration: none;
    color: #007BFF;
}

#links a:hover {
    text-decoration: underline;
}

/* Goals */
#goals h2 {
    text-align: center;
}

details {
    margin: 10px 0; 
}

details summary {
    width: 97.8%;
    background-color: rgb(232, 178, 225);
    padding: 0.83em;
    border-radius: 8px;
    margin-left: 1em;
    margin-right: 2em;
    text-align: center;
    color: rgb(9, 9, 9);
    cursor: pointer;
}

details summary:hover {
    transform: scale(1.05);
}

.summary_content {
    margin: 1em 6em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

/* Footer Styling */
footer {
    height: auto;
    width: 100%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px 0;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
}

#footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
}

#footer li {
    margin: 0 10px;
}

#footer a {
    color: #24578f;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}

#footer p {
    margin: 0;
}

/* Responsive Styling */
@media (max-width: 600px) {
    #container h1 {
        font-size: 1.8rem;
        margin-bottom: 15px;
        letter-spacing: 1px;
        padding: 0 15px;
    }
}

@media (max-width: 600px) {
    footer {
        flex-direction: column; 
        padding: 15px; 
        text-align: center; 
    }

    #footer ul {
        flex-direction: column; 
        align-items: center;
    }

    #footer li {
        margin: 5px 0; 
    }
}
